<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Enter the secret password to become a member</h1>
    <div class="container">
        <form action="/membership" method="POST">
            <div class="form-item">
                <label for="membership_password">Passsword</label>
                <input type="password" name="membership_password">
            </div>
            <button type="submit">submit</button>
        </form>
        <a href="/">Back home</a>
    </div>
</body>
</html>