<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%= title %>
    <h1>Enter the secret password to become a member</h1>
    <form action="/membership" method="POST">
        <label for="membership_password">Passsword</label>
        <input type="password" name="membership_password">
        <button type="submit">submit</button>
    </form>
</body>
</html>